<h3>Questions</h3>
 <% if @question.errors.any? %>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %> 
  </ul>
<% end %> 

<%= form_with(model:[@property, @question]) do |f| %>  
  <div>
    <%= f.text_area :question, cols: 50, rows: 5, placeholder:"Whats your question regarding this property?" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-outline-primary btn-size-larger my-2" %>
<% end %>