<%@properties.each do |property|%>
  <img src="<%=property.image_url%>" alt="">
  <h3><%=link_to property.name, property_path(property.id)%></h3>
  <p>Description: <%=property.description%></p>
  <p>Price: <%=property.price%></p>
<% end %>
